<div id="<%= dom_id response %>" class="scaffold_record">
  <p>
    <strong>Questionnaire:</strong>
    <%= response.questionnaire_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= response.question_id %>
  </p>

  <p>
    <strong>Response text:</strong>
    <%= response.response_text %>
  </p>
</div>
