<h1>Response Details</h1>

<p>
  <strong>Questionnaire:</strong>
  <%= @response.questionnaire.name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @response.question.name %>
</p>

<p>
  <strong>Response:</strong>
  <%= @response.response_text %>
</p>

<div>
  <%= link_to "Back to responses", responses_path %>
</div>
